InformationalPortal/InfPortal.data/Service References/HeadingProxy/HeadingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/InfPortal.service/Implementations/HeadingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" />
  <xs:element name="GetHeadings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" minOccurs="0" name="GetHeadingsResult" nillable="true" type="q1:ArrayOfHeadingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadingsByArticleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadingsByArticleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" minOccurs="0" name="GetHeadingsByArticleIdResult" nillable="true" type="q2:ArrayOfHeadingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHeading">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" minOccurs="0" name="heading" nillable="true" type="q3:HeadingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHeadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHeadingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHeading">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" minOccurs="0" name="heading" nillable="true" type="q4:HeadingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHeadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditHeadingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHeading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHeadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHeadingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>