InformationalPortal/InfPortal.data/Service References/HeadingProxy/HeadingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHeadingEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeadingEntity" nillable="true" type="tns:HeadingEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeadingEntity" nillable="true" type="tns:ArrayOfHeadingEntity" />
  <xs:complexType name="HeadingEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeadingEntity" nillable="true" type="tns:HeadingEntity" />
</xs:schema>