InformationalPortal/InfPortal.data/Service References/LanguageProxy/LanguageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLanguageEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageEntity" nillable="true" type="tns:LanguageEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageEntity" nillable="true" type="tns:ArrayOfLanguageEntity" />
  <xs:complexType name="LanguageEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageEntity" nillable="true" type="tns:LanguageEntity" />
</xs:schema>