InformationalPortal/InfPortal.data/Service References/ArticleProxy/ArticleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArticleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/InfPortal.service/Implementations/ArticleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/InfPortal.service/Implementations/ArticleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InfPortal.service.Implementations" />
      <xsd:import schemaLocation="http://localhost/InfPortal.service/Implementations/ArticleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/InfPortal.service/Implementations/ArticleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfPortal.service.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArticleService_GetArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticles" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticles_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/InfPortal.service.Implementations" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleById" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticleById_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/InfPortal.service.Implementations" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticlesByHeadingId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesByHeadingId" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticlesByHeadingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesByHeadingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticlesByHeadingId_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/InfPortal.service.Implementations" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetCountOfArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfArticles" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetCountOfArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfArticlesResponse" />
  </wsdl:message>
  <wsdl:portType name="IArticleService">
    <wsdl:operation name="GetArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/GetArticles" message="tns:IArticleService_GetArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/GetArticlesResponse" message="tns:IArticleService_GetArticles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IArticleService/GetArticlesServiceExceptionFault" name="ServiceExceptionFault" message="tns:IArticleService_GetArticles_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/GetArticleById" message="tns:IArticleService_GetArticleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/GetArticleByIdResponse" message="tns:IArticleService_GetArticleById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IArticleService/GetArticleByIdServiceExceptionFault" name="ServiceExceptionFault" message="tns:IArticleService_GetArticleById_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticlesByHeadingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/GetArticlesByHeadingId" message="tns:IArticleService_GetArticlesByHeadingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/GetArticlesByHeadingIdResponse" message="tns:IArticleService_GetArticlesByHeadingId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IArticleService/GetArticlesByHeadingIdServiceExceptionFault" name="ServiceExceptionFault" message="tns:IArticleService_GetArticlesByHeadingId_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountOfArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/GetCountOfArticles" message="tns:IArticleService_GetCountOfArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/GetCountOfArticlesResponse" message="tns:IArticleService_GetCountOfArticles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArticleService" type="tns:IArticleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArticles">
      <soap:operation soapAction="http://tempuri.org/IArticleService/GetArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArticleById">
      <soap:operation soapAction="http://tempuri.org/IArticleService/GetArticleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArticlesByHeadingId">
      <soap:operation soapAction="http://tempuri.org/IArticleService/GetArticlesByHeadingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountOfArticles">
      <soap:operation soapAction="http://tempuri.org/IArticleService/GetCountOfArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticleService">
    <wsdl:port name="BasicHttpBinding_IArticleService" binding="tns:BasicHttpBinding_IArticleService">
      <soap:address location="http://localhost/InfPortal.service/Implementations/ArticleService.svc/ArticleService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>